body {
    margin: 0;
    overflow: hidden;
}

#bubbles-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* Añadimos una capa semitransparente para oscurecer el video */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor para más o menos oscuridad */
    z-index: 1; /* Debe estar detrás de las burbujas, pero delante del video */
    pointer-events: none; /* Permite que los clics pasen a través de esta capa */
}

#logo-overlay {
    position: absolute;
    top: 50%;  /* Posiciona el centro verticalmente */
    left: 50%; /* Posiciona el centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el logotipo para que esté perfectamente centrado */
    z-index: 1000; /* Asegura que esté por encima del canvas de WebGL */
    pointer-events: none; /* Permite que los eventos del ratón pasen al canvas debajo */
    width: auto; /* Mantén el tamaño original del logo */
    height: auto;
}




