/* Asegura que todo ocupe el 100% de la pantalla */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Estilo del logo centrado */
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20%; /* Ajusta el tamaño del logo */
    z-index: 1; /* Coloca el logo sobre las burbujas */
}

/* Contenedor de burbujas */
#bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Asegura que las burbujas estén detrás del logo */
}
